openapi: 3.0.2
info:
  title: DriveWealth API
  version: '1.0'
servers:
  - url: https://bo-api.drivewealth.io/back-office
    description: Sandbox server (Uses test data)
  - url: https://bo-api.drivewealth.net/back-office
    description: Production Server (Uses LIVE data)
tags:
  - name: Funds
    x-displayName: Funds
  - name: Trade Allocations
    x-displayName: Trade Allocations
  - name: Portfolios
    x-displayName: Portfolios
  - name: AutoPilot
    x-displayName: AutoPilot
  - name: Commission Schedules
    x-displayName: Commission Schedules
  - name: Beneficiaries
    x-displayName: Beneficiaries
  - name: Virtual Bank Accounts
    x-displayName: Virtual Bank Accounts
  - name: Statements
    x-displayName: Statements
  - name: Violations
    x-displayName: Violations
  - name: Transactions
    x-displayName: Transactions
  - name: Accounts
    x-displayName: Accounts
  - name: Deposits
    x-displayName: Deposits
  - name: Withdrawals
    x-displayName: Withdrawals
  - name: Orders
    x-displayName: Orders
  - name: Positions
    x-displayName: Positions
  - name: Asset Transfer
    x-displayName: Asset Transfer
  - name: Cancel Rebill
    x-displayName: Cancel Rebill
  - name: Auth
    x-displayName: Auth
  - name: Supported Countries
    x-displayName: Supported Countries
  - name: Disclosures
    x-displayName: Disclosures
  - name: Exchanges
    x-displayName: Exchanges
  - name: Charts
    x-displayName: Charts
  - name: Instruments
    x-displayName: Instruments
  - name: Physical Documents
    x-displayName: Physical Documents
  - name: Quotes
    x-displayName: Quotes
  - name: Depth of Book
    x-displayName: Depth of Book
  - name: Settlements
    x-displayName: Settlements
  - name: Risk
    x-displayName: Risk
  - name: Subscriptions
    x-displayName: Subscriptions
  - name: Users
    x-displayName: Users
  - name: Linked Bank Accounts
    x-displayName: Linked Bank Accounts
  - name: Advisor Reports
    x-displayName: Advisor Reports
paths:
  /managed/allocations:
    post:
      tags:
        - Trade Allocations
      summary: Create Trade Allocation
      description: Create a Trade Allocation.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AllocationRequest'
        required: true
      responses:
        '200':
          description: Creating a Trade Allocation was Successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllocationResponse'
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
  /managed/allocations/{allocationID}:
    get:
      tags:
        - Trade Allocations
      parameters:
        - in: path
          name: allocationID
          schema:
            type: string
          required: true
          example: JL.allocation.SomeRIACompany.9d6def3b-14d7-4934-8a64-57d443e67ce6
          description: The unique identifier returned when a Trade Allocation request is made.
      summary: Retrieve Trade Allocation
      description: Retrieves Trade Allocation by allocationID.
      responses:
        '200':
          description: Retrieving Trade Allocation by allocationID was Successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllocationDetails'
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
  /managed/funds:
    post:
      tags:
        - Funds
      summary: Create Fund
      description: Creates a Fund.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/fundsRequest'
        required: true
      responses:
        '200':
          description: Creating a Fund was Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fundsResponse'
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
  /managed/funds/{fundID}:
    get:
      tags:
        - Funds
      parameters:
        - in: path
          name: fundID
          schema:
            type: string
          required: true
          example: fund_3d7d00d1-f08e-4f52-9cbf-893c75cf77fe
          description: The unique identifier associated with the Fund.
      summary: Retrieve Fund
      description: Retrieves a Fund by fundID.
      responses:
        '200':
          description: Retrieving a Fund by fundID was Successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fundsResponse'
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
  /managed/portfolios:
    post:
      tags:
        - Portfolios
      summary: Create Portfolio
      description: Creates a Portfolio.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/portfolioReq'
        required: true
      responses:
        '200':
          description: Creating a Portfolio was Successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/portfolioRes'
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
  /managed/portfolios/{portfolioID}:
    get:
      tags:
        - Portfolios
      summary: Retrieve Portfolio
      description: Retrieves a Portfolio by portfolioID.
      parameters:
        - in: path
          name: portfolioID
          schema:
            type: string
          required: true
          example: portfolio_4a22340a-31f8-4f0e-b5ee-24ddfbc66727
          description: A unique identifier associated with a specific Portfolio.
      responses:
        '200':
          description: Retrieving a Portfolio by portfolioID was Successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/portfolioRes'
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
    patch:
      tags:
        - Portfolios
      summary: Update Portfolio
      description: Updates a Profolio by portfolioID.
      parameters:
        - in: path
          name: portfolioID
          schema:
            type: string
          required: true
          example: portfolio_4a22340a-31f8-4f0e-b5ee-24ddfbc66727
          description: A unique identifier associated with a specific Portfolio.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: Recession Proof
                  description: A name given to the Portfolio by the RIA.
                clientPortfolioID:
                  $ref: '#/components/schemas/clientPortfolioID'
                description:
                  type: string
                  example: A portifolio description.
                  description: A short description for the portfolio.
                holdings:
                  type: array
                  description: An array of objects that hold the type of Funds in the Portfolio.
                  items:
                    $ref: '#/components/schemas/portfolioReqHoldings'
                triggers:
                  $ref: '#/components/schemas/portfolioTriggers'
      responses:
        '200':
          description: Updating a Portfolio by portfolioID was Successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/portfolioRes'
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
  /managed/autopilot/{partnerID}:
    post:
      tags:
        - AutoPilot
      parameters:
        - in: path
          name: partnerID
          schema:
            type: string
          required: true
          example: 66304da9-3h6f-2234-935f-ac6b7933d706
          description: This is the parentIBID or userID of the registered investment advisor.
      summary: Create Autopilot Run
      description: Create an Autopilot Run.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/autopilotReq'
        required: true
      responses:
        '200':
          description: Creating an Autopilot Run was Successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/autopilotRes'
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
  /managed/autopilot/{rebalanceRunID}:
    get:
      tags:
        - AutoPilot
      parameters:
        - in: path
          name: rebalanceRunID
          schema:
            type: string
          required: true
          example: ria_rebalance_ebf7e878-e2d6-4b3d-a333-b8ff05b92b83
          description: The unique re-balance run identifier `rebalanceRunID` associated with a specific re-balance.
      summary: Retrieve Autopilot Run
      description: Retrieves an Autopilot Run by rebalanceRunID.
      responses:
        '200':
          description: Retrieving an Autopilot Run by rebalanceRunID was Successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/runStatusRes'
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
  /accounts:
    post:
      tags:
        - Accounts
      summary: Create Account
      description: Creates a trading Account.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountReq'
            examples:
              Self Directed Account:
                value:
                  userID: cc07f91b-7ee1-4868-b8fc-823c70a1b932
                  accountType: LIVE
                  accountManagementType: SELF
                  tradingType: CASH
              Managed Account:
                value:
                  userID: cc07f91b-7ee1-4868-b8fc-823c70a1b932
                  accountType: LIVE
                  accountManagementType: MANAGED
                  tradingType: CASH
              Robo Advisory Account:
                value:
                  userID: cc07f91b-7ee1-4868-b8fc-823c70a1b932
                  accountType: LIVE
                  accountManagementType: RIA_MANAGED
                  tradingType: CASH
                  riaProductID: product_b94c0b6a-5ac8-43e4-95d1-777051c0503b
                  riaUserID: 80f9b672-120d-4b73-9ccv9-42fb3262c4b9
        required: true
      responses:
        '200':
          description: Creating an Account was Successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountRes'
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
  /accounts/{accountID}:
    get:
      tags:
        - Accounts
      parameters:
        - in: path
          name: accountID
          schema:
            $ref: '#/components/schemas/accountID'
          required: true
      summary: Retrieve Account
      description: Retrieves an Account details by accountID.
      responses:
        '200':
          description: Retrieving Account details was Successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountDetailRes'
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
    patch:
      tags:
        - Accounts
      parameters:
        - in: path
          name: accountID
          schema:
            $ref: '#/components/schemas/accountID'
          required: true
      summary: Update Account
      description: Updates an Account details by accountID.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAcctReq'
            examples:
              Add Authorized User:
                value:
                  authorizedUsers:
                    - userID: f6fd0783-2fdb-4ddb-9fd5-2464d8abc267
                      permissions:
                        - MINOR_GRADUATION_TRANSFER
        required: true
      responses:
        '200':
          description: Updating an Account details by accountID was Successful.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/AccountDetailRes'
                  - $ref: '#/components/schemas/AccountDetailResMinorTransfer'
              examples:
                Account Summary:
                  value:
                    account:
                      id: cc07f91b-7ee1-4868-b8fc-823c70a1b932.1407775317759
                      accountNo: DWBG000052
                      accountType:
                        name: LIVE
                        description: Live Account
                      accountMgmtType:
                        name: SELF
                        description: Self Directed Account
                      status:
                        name: OPEN
                        description: Open
                      tradingType:
                        name: CASH
                        description: Cash Account
                      leverage: 1
                      nickname: Steve's Robo Advisor Managed Account
                      parentIB:
                        id: 80f9b672-120d-4b73-9cc9-42fb3262c4b9
                        name: Tendies Trading Company
                      taxProfile:
                        taxStatusCode: W-9
                        taxRecipientCode: INDIVIDUAL
                      commissionID: b3e985dd-9679-63dc-5dd5-9bd7982efecd
                      beneficiaries: false
                      userID: cc07f91b-7ee1-4868-b8fc-823c70a1b932
                      restricted: false
                      goodFaithViolations: 0
                      patternDayTrades: 0
                      freeTradeBalance: 0
                      gfvPdtExempt: false
                      buyingPowerOverride: false
                      bod:
                        moneyMarket: 0
                        equityValue: 0
                        cashAvailableForWithdrawal: 0
                        cashAvailableForTrading: 0
                        cashBalance: 0
                      ria:
                        advisorID: 66304da9-3h6f-2234-935f-ac6b7933d706
                        productID: product_b94c0b6a-5ac8-43e4-95d1-777051c0503b
                      sweepInd: true
                      interestFree: false
                      createdWhen: '2022-12-22T06:07:41.773Z'
                      openedWhen: '2022-12-22T06:07:41Z'
                      updatedWhen: '2022-12-11T22:28:21.810Z'
                      ignoreMarketHoursForTest: false
                      flaggedForACATS: false
                      extendedHoursEnrolled: false
                      accountFeatures:
                        fixedIncome:
                          enrolled: true
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
  /accounts/{accountID}/commissions:
    get:
      tags:
        - Commission Schedules
      parameters:
        - in: path
          name: accountID
          schema:
            $ref: '#/components/schemas/accountID'
          required: true
      summary: List Commission Schedules
      description: Retrieves a list of Commissions Schedules by accountID.
      responses:
        '200':
          description: Retrieving a list of Commissions Schedules was Successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommissionsRes'
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
  /accounts/{accountID}/beneficiaries:
    post:
      tags:
        - Beneficiaries
      parameters:
        - in: path
          name: accountID
          schema:
            $ref: '#/components/schemas/accountID'
          required: true
      summary: Create Account Beneficiaries
      description: Creates an Account Beneficiary by accountID.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BeneficiaryReq'
        required: true
      responses:
        '200':
          description: Creating an Account Beneficiary was Successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeneficiaryRes'
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
    get:
      tags:
        - Beneficiaries
      parameters:
        - in: path
          name: accountID
          schema:
            $ref: '#/components/schemas/accountID'
          required: true
      summary: Retrieve Account Beneficiaries
      description: Retrieves a list of Account Beneficiaries by accountID.
      responses:
        '200':
          description: Retrieving a list of Account Beneficiaries was Successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeneficiaryRes'
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
    delete:
      tags:
        - Beneficiaries
      parameters:
        - in: path
          name: accountID
          schema:
            $ref: '#/components/schemas/accountID'
          required: true
      summary: Delete Account Beneficiaries
      description: Removes all Accounts Beneficiaries by accountID.
      responses:
        '202':
          description: Removing all Account Beneficiaries was Accepted.
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
  /accounts/{accountID}/funding/deposit-instructions:
    get:
      tags:
        - Virtual Bank Accounts
      parameters:
        - in: path
          name: accountID
          schema:
            $ref: '#/components/schemas/accountID'
          required: true
      summary: Retrieve Account Virtual Bank Account
      description: Retrieves an Account Virtual Bank Account details by accountID.
      responses:
        '200':
          description: Retrieving Virtual Bank Account details by accountID was Successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualAccountRes'
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
  /accounts/{accountID}/funding/deposits:
    get:
      tags:
        - Deposits
      parameters:
        - in: path
          name: accountID
          schema:
            $ref: '#/components/schemas/accountID'
          required: true
      summary: List Account Deposits
      description: Retrieves a list of Account Deposits by accountID.
      responses:
        '200':
          description: Retrieving a list of Account Deposits was Successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/depositsByUserIDObject'
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
  /accounts/{accountID}/funding/redemptions:
    get:
      tags:
        - Withdrawals
      parameters:
        - in: path
          name: accountID
          schema:
            $ref: '#/components/schemas/accountID'
          required: true
      summary: List Account Withdrawals
      description: Retrieves a list of Account Withdrawals by accountID
      responses:
        '200':
          description: Retrieving a list of Account Withdrawals was Successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Redemptions'
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
  /accounts/{accountID}/summary/orders:
    get:
      tags:
        - Orders
      summary: List Account Orders
      description: Retrives a list of Account Orders by accountID.
      parameters:
        - in: path
          name: accountID
          schema:
            $ref: '#/components/schemas/accountID'
          required: true
      responses:
        '200':
          description: Retrieving a list of Account Orders was Successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PendingOrders'
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
  /accounts/{accountID}/reports/order-history:
    get:
      tags:
        - Orders
      summary: List Account Orders
      description: Retrieves a list of Account Orders by accountID.
      parameters:
        - in: path
          name: accountID
          schema:
            $ref: '#/components/schemas/accountID'
          required: true
        - in: query
          name: from
          schema:
            type: string
          required: true
          example: '2022-06-16'
          description: Date start time of data. Follow [ISO 8601 standard](https://en.wikipedia.org/wiki/ISO_8601)
        - in: query
          name: to
          schema:
            type: string
          required: true
          example: '2022-07-16'
          description: Date end time of data. Follow [ISO 8601 standard](https://en.wikipedia.org/wiki/ISO_8601)
        - in: query
          name: limit
          schema:
            type: number
          required: false
          example: 25
          description: The number of orders to be returned per page.
        - in: query
          name: offset
          schema:
            type: string
          required: false
          example: '2022-07-16'
          description: Follow [ISO 8601 standard](https://en.wikipedia.org/wiki/ISO_8601)
        - in: query
          name: direction
          schema:
            type: string
            enum:
              - prev
              - next
          required: false
          example: prev
          description: The direction of pagination.
      responses:
        '200':
          description: Retrieving a list of Account Orders was Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderHistoryRes'
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
  /accounts/{accountID}/portfolio:
    get:
      tags:
        - AutoPilot
      parameters:
        - in: path
          name: accountID
          schema:
            $ref: '#/components/schemas/accountID'
          required: true
      summary: Retrieve Portfolio by Account
      description: Retrieve Portfolio details by accountID.
      responses:
        '200':
          description: Fetching Portfolio details was Successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortfolioStatusRes'
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
  /accounts/{accountID}/summary/money:
    get:
      tags:
        - Accounts
      parameters:
        - in: path
          name: accountID
          schema:
            $ref: '#/components/schemas/accountID'
          required: true
      summary: Retrieve Account Cash
      description: Retrieves an Account Cash details by accountID.
      responses:
        '200':
          description: Retrieving Money details was Successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoneyDetailsRes'
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
  /accounts/{accountID}/statements:
    get:
      tags:
        - Statements
      parameters:
        - in: path
          name: accountID
          schema:
            $ref: '#/components/schemas/accountID'
          required: true
      summary: List Account Statements
      description: Retrives a list of Account Statements by accountID.
      responses:
        '200':
          description: Retrieving a list of Account Statements by accountID was Successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatementListRes'
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
  /accounts/{accountID}/taxforms:
    get:
      tags:
        - Statements
      parameters:
        - in: path
          name: accountID
          schema:
            $ref: '#/components/schemas/accountID'
          required: true
        - $ref: '#/components/parameters/fromParams'
        - $ref: '#/components/parameters/toParams'
      summary: List Account Tax Statements
      description: Retrieves a list of Account Tax Statements by accountID.
      responses:
        '200':
          description: Retrieving a list of  Account Tax Statements by accountID was Successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTaxDocsRes'
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
  /accounts/{accountID}/confirms:
    get:
      tags:
        - Statements
      parameters:
        - in: path
          name: accountID
          schema:
            $ref: '#/components/schemas/accountID'
          required: true
        - in: query
          name: from
          schema:
            type: string
          required: false
          example: '2018-09-18'
          description: Filter, the date from which to start the search.
        - in: query
          name: to
          schema:
            type: string
          required: false
          example: '2019-09-18'
          description: Filter, the date to which to end the search.
      summary: List Account Trade Confirmations
      description: Retrieves a list of Account Trade Confirmations by accountID.
      responses:
        '200':
          description: Retrieving a list of Account Trade Confirmations by accountID was Successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTradeConfirmsRes'
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
  /accounts/{accountID}/summary:
    get:
      tags:
        - Accounts
      parameters:
        - in: path
          name: accountID
          schema:
            $ref: '#/components/schemas/accountID'
          required: true
      summary: Retrieve Account Summary
      description: Retrieves an Account Summary details by accountID.
      deprecated: true
      responses:
        '200':
          description: Retrieving Account Summary details by accountID was Successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SummaryRes'
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
  /accounts/{accountID}/performance:
    get:
      tags:
        - Accounts
      parameters:
        - in: path
          name: accountID
          schema:
            $ref: '#/components/schemas/accountID'
          required: true
        - in: query
          name: period
          schema:
            type: string
            enum:
              - 1d
              - '*d'
              - 1w
              - '*w'
              - 1m
              - '*m'
              - 1y
              - '*y'
          required: false
          example: 3d
          description: 'Used for relative date range, accepts a number and a unit of time (E.g: 3d = 3 Days or 2w = 2 Weeks).'
        - in: query
          name: from
          schema:
            type: string
          required: false
          example: '2018-09-18'
          description: Start date and time of requested time frame of the accounts performance.
        - in: query
          name: to
          schema:
            type: string
          required: false
          example: '2019-09-18'
          description: End date and time of requested time frame of the accounts performance.
      summary: Retrieve Account Performance
      description: Retrieves realtime Account Performance details by accountID.
      responses:
        '200':
          description: Retrieving realtime Account Performance details by accountID was Successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PerformanceRes'
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
  /accounts/{accountID}/summary/positions:
    get:
      tags:
        - Positions
      parameters:
        - in: path
          name: accountID
          schema:
            $ref: '#/components/schemas/accountID'
          required: true
      summary: List Account Positions
      description: Retrives a list of Account Positions by accountID
      responses:
        '200':
          description: Retrieving an Account's Positions by accountID was Successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PositionsRes'
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
  /accounts/{accountID}/summary/violations:
    get:
      tags:
        - Violations
      parameters:
        - in: path
          name: accountID
          schema:
            $ref: '#/components/schemas/accountID'
          required: true
      summary: Retrieve Account Violations Summary
      description: Retrives Account Violations Summary details by accountID.
      responses:
        '200':
          description: Retrieving an Account Violations Summary details by accountID was Successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ViolationListRes'
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
  /accounts/{accountID}/violations:
    get:
      tags:
        - Violations
      parameters:
        - in: path
          name: accountID
          schema:
            $ref: '#/components/schemas/accountID'
          required: true
      summary: List Account Violations
      description: Retrives a list of Account Violations by accountID.
      responses:
        '200':
          description: Retrieving a list of Account Violations by accountID was Successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ViolationDetailsRes'
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
  /accounts/{accountID}/summary/margin:
    get:
      tags:
        - Accounts
      parameters:
        - in: path
          name: accountID
          schema:
            $ref: '#/components/schemas/accountID'
          required: true
      summary: Retrieve Account Margin
      description: Retrieves Account Margin details by accountID.
      responses:
        '200':
          description: Retrieving an Account Margin details by accountID was Successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarginRes'
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
  /accounts/{accountID}/summary/transactions:
    get:
      tags:
        - Transactions
      parameters:
        - in: path
          name: accountID
          schema:
            $ref: '#/components/schemas/accountID'
          required: true
      summary: Retrieve Account Transaction Summary
      description: Retrives an Account Transaction Summary details by accountID.
      responses:
        '200':
          description: Retrieving Account Transaction Summary details was Successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionSummaryRes'
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
  /accounts/{accountID}/transactions:
    get:
      tags:
        - Transactions
      parameters:
        - in: path
          name: accountID
          schema:
            $ref: '#/components/schemas/accountID'
          required: true
        - in: query
          name: from
          schema:
            type: string
          required: true
          example: '2022-06-16'
          description: Date start time of data. Follow [ISO 8601 standard](https://en.wikipedia.org/wiki/ISO_8601)
        - in: query
          name: to
          schema:
            type: string
          required: true
          example: '2022-07-16'
          description: Date end time of data. Follow [ISO 8601 standard](https://en.wikipedia.org/wiki/ISO_8601)
        - in: query
          name: limit
          schema:
            type: number
          required: false
          example: 25
          description: The number of transactions to be returned per page.
        - in: query
          name: offset
          schema:
            type: string
          required: false
          example: '2022-07-16'
          description: Follow [ISO 8601 standard](https://en.wikipedia.org/wiki/ISO_8601)
        - in: query
          name: direction
          schema:
            type: string
            enum:
              - prev
              - next
          required: false
          example: prev
          description: The direction of pagination
      summary: List Account Transactions
      description: Retrieves a list of Account Transactions by accountID.
      responses:
        '200':
          description: Retrieving a list of Account Transactions was Successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionRes'
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
  /accounts/{accountID}/position-details:
    get:
      tags:
        - Accounts
      summary: Retrieve Account Lots
      description: Retrieves an Account Lots details by accountID.
      parameters:
        - in: path
          name: accountID
          schema:
            $ref: '#/components/schemas/accountID'
          required: true
      responses:
        '200':
          description: Retrieving Account Lots details by accountID was Successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountPositionLots'
              examples:
                Account Lots:
                  value:
                    accountID: 0d1d686c-abe3-4203-82e5-62f1bd8266f3.1654094651810
                    accountNo: XYRR000001
                    positions:
                      - instrumentID: 5b85fabb-d57c-44e6-a7f6-a3efc760226c
                        symbol: TSLA
                        currency: USD
                        costBasis: 4
                        quantity: 0.01648699
                        currentMarketPrice: 253.76
                        currentMarketValue: 4.18
                        unrealizedPnL: 0.18
                        effectiveCostPerShare: 242.6155411
                        taxLots:
                          - id: 3db27e74626adac3be7b549f2bbc0ab2480852a7
                            created: '2022-08-25T10:07:47.235Z'
                            initialQuantity: 0.01240767
                            openQuantity: 0.01240767
                            effectiveCostPerShare: 241.79
                            side: B
                            comment: SPLIT CAFB015132 TSLA...
                          - id: 3db27e74626adac3be7b549f2bbc0ab2480852a7
                            created: '2023-09-25T15:28:12.120Z'
                            initialQuantity: 0.00407932
                            openQuantity: 0.00407932
                            effectiveCostPerShare: 245.14
                            side: B
                            comment: TSLA FRACK part TSLA KI...
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
  /accounts/{accountID}/options/positions:
    get:
      tags:
        - Positions
      parameters:
        - in: path
          name: accountID
          schema:
            $ref: '#/components/schemas/accountID'
          required: true
        - in: query
          name: filterBy
          schema:
            type: string
          example: expirationDate
          description: The expiration date of options; to filter by.
        - in: query
          name: from
          schema:
            type: string
          example: '2023-02-16'
          description: The start date of the range of option's expiration.
        - in: query
          name: to
          schema:
            type: string
          required: false
          example: '2023-02-16'
          description: The end date of the range of option's expiration.
        - in: query
          name: limit
          schema:
            type: number
            default: 50
          required: false
          example: 10
          description: The number of results to be returned.
        - in: query
          name: offset
          schema:
            type: string
          required: false
          example: 86572e14-84ae-4f0c-9533-3c9432637f8e.1627500314555#65d1aee9-9a6c-4720-9879-71c4fcf43060.2023-12-07T21:17:45.743Z
          description: The identifier of the page.
      summary: Retrieve Account Option Positions
      description: Retrieves Account Option Positions
      responses:
        '200':
          description: Retrieving Account Option Positions was Successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptPositionRes'
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
  /asset-transfers/acats:
    post:
      tags:
        - Asset Transfer
      summary: Create ACATS Transfer
      responses:
        '200':
          description: Initiating a transfer was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ACATSTransfer'
              examples:
                Automated Customer Transfer Full:
                  value:
                    id: acats_41eb5bdd-8ce2-4471-8fc6-9892da089cd1
                    source: BROKER0001
                    destination: DWXR001004
                    clearingNo: '0001'
                    status:
                      name: PENDING
                      description: Asset transfer request is pending
                    type:
                      name: ACAT
                      description: ACAT transfer
                    acatType:
                      name: FULL
                      description: Full Acats Transfer
                    sourceAccountType:
                      name: INDIVIDUAL
                      description: Individual Account
                    positions: []
                    metadata: {}
                    auditDetails:
                      - timestamp: '2023-07-28T23:56:10.507Z'
                        status:
                          name: STARTED
                          description: Asset transfer request has been initiated.
                        comment: Transfer request has been submitted in queue
                      - timestamp: '2023-07-28T23:56:10.645Z'
                        status:
                          name: PENDING
                          description: Asset transfer request is pending
                        comment: <string>
                    created: '2023-07-28T23:56:10.491Z'
                    updated: '2023-07-28T23:56:10.667Z'
                Automated Customer Transfer Partial:
                  value:
                    id: acats_45dc50ac-3daa-484d-98cb-5264abb51d86
                    source: FOLIO123
                    destination: DWKN000094
                    clearingNo: '0001'
                    status:
                      name: STARTED
                      description: Asset transfer request has been initiated.
                    acatType:
                      name: PARTIAL
                      description: Partial Acats Transfer
                    sourceAccountType:
                      name: INDIVIDUAL
                      description: Individual Account
                    cash: 10
                    positions:
                      - symbol: META
                        instrumentID: 4312a85c-93ba-4adb-b50d-cc7973243a53
                        quantity: 1
                Automated Customer Transfer:
                  value:
                    source: FOLIO12345
                    destination: DWST000077
                    clearingNo: '0001'
                    sourceAccountType:
                      name: INDIVIDUAL
                      description: Individual Account
                    acatType:
                      name: FULL
                      description: Full Acats Transfer
                    cash: 0
                    positions:
                      - symbol: AMZN
                        instrumentID: 4312a85c-93ba-4adb-b50d-cc7973243a53
                        quantity: 1
                    comment: string
                    metadata: {}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                  message:
                    type: string
                  errorDetails:
                    type: object
                    properties:
                      field:
                        type: string
                        description: Json field name in request body
                      type:
                        type: string
                        enum:
                          - STRING
                          - ARRAY
                          - INT
                          - DECIMAL
                          - BOOL
                          - TEXT
                          - UUID
                          - DATE
                          - MAP
                          - OBJECT
                        description: |
                          DataType of the field
                      allowedValues:
                        type: string
                        description: Example values which are allowed in the field
              examples:
                Invalid accountNo on request body:
                  value:
                    errorCode: A012
                    message: A required accountNo is missing or invalid. Refer to the API documentation for details.
                    errorDetails:
                      field: destination
                      type: STRING
                Source and Destination are same:
                  value:
                    errorCode: E032
                    message: 'Invalid or missing parameters in the request body. Refer to the API documentation for details. Details: Source can''t be DW account'
                Destination account is not approved:
                  value:
                    errorCode: T005
                    message: ACAT Transfer cannot initiate. Destination account is not approved.
                Invalid Symbol:
                  value:
                    errorCode: E032
                    message: 'Invalid or missing parameters in the request body. Refer to the API documentation for details. Details: Symbol is not active or invalid.'
                    errorDetails:
                      field: positions.symbol
                      type: ARRAY
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AcatsCreateRequestModel'
      description: The Automated Customer Account Transfer Service (ACATS) is a system that facilitates the transfer of securities from one trading account to another at a different brokerage firm or bank.
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
  /asset-transfers/minor-graduation:
    post:
      tags:
        - Asset Transfer
      summary: Create Minor Graduation Transfer
      responses:
        '200':
          description: Initiating a transfer was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ACATSTransfer'
              examples:
                Minor Graduation:
                  value:
                    id: grad_28d08c72-3d0f-4c6e-8961-2dc6491c28a8
                    source: LKGE000001
                    destination: LKKZ000004
                    status:
                      name: STARTED
                      description: Asset transfer request has been initiated.
                    type:
                      name: TEEN
                      description: Teen Account Transfer
                    created: '2023-07-26T14:05:18.518Z'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MinorCreateRequestModel'
            examples:
              Minor Graduation:
                value:
                  source: LKGE000001
                  destination: LKKZ000004
                  comment: Migrating Teen account to Individual account.
                  metadata: {}
      description: If an Account is opened for the purpose of allowing a minor to invest, this API will allow for the transfer of assets from this account to the minor's own named account once they reach the age of majority.
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
  /asset-transfers/{assetTransferID}:
    parameters:
      - schema:
          type: string
        name: assetTransferID
        in: path
        required: true
    get:
      tags:
        - Asset Transfer
      summary: Retrieve Transfer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ACATSTransfer'
              examples:
                Successful ACATS Transfer:
                  value:
                    id: acats_0a18eea2-c63d-447a-a0f1-1c7d9a08c9da
                    source: TR6666
                    destination: FWCT000005
                    clearingNo: '1111'
                    status:
                      name: SUCCESSFUL
                      description: Asset transfer request has been successfully completed
                    type:
                      name: ACAT
                      description: ACAT transfer
                    acatType:
                      name: PARTIAL
                      description: Partial Acats Transfer
                    acatTransit:
                      name: ACAT_IN
                      description: Incoming Acats Transfer
                    sourceAccountType:
                      name: INDIVIDUAL
                      description: Individual Account
                    partner:
                      id: 25f77a3e-2a4b-48bf-bea2-1b8bcd541621
                      name: Stark House
                    positions:
                      - symbol: ACHN
                        instrumentID: 27673f0e-2219-40b0-9ecc-91c87266efaf
                        quantity: 1
                      - symbol: SBSI
                        instrumentID: 1c6c1625-8146-4dd3-a84b-c6a97cd74bcf
                        quantity: 56
                    metadata: {}
                    auditDetails:
                      - timestamp: '2023-10-20T13:02:50.970Z'
                        status:
                          name: STARTED
                          description: Asset transfer request has been initiated.
                        comment: Transfer request has been submitted in queue
                      - timestamp: '2023-10-20T15:00:04.185Z'
                        status:
                          name: PENDING
                          description: Asset transfer request is pending
                        comment: TIF has been created
                      - timestamp: '2023-11-02T00:01:19.340Z'
                        status:
                          name: SUCCESSFUL
                          description: Asset transfer request has been successfully completed
                        comment: Transfer Settled
                    created: '2023-10-20T13:02:50.960Z'
                    updated: '2023-11-02T00:01:19.340Z'
                Failed ACATS Transfer:
                  value:
                    id: acats_d9faa000-9d97-4ab8-85f8-cbd856d31b79
                    source: TR6666
                    destination: FWRT000005
                    clearingNo: '1111'
                    status:
                      name: FAILED
                      description: Asset transfer is failed.
                    type:
                      name: ACAT
                      description: ACAT transfer
                    acatType:
                      name: FULL
                      description: Full Acats Transfer
                    sourceAccountType:
                      name: INDIVIDUAL
                      description: Individual Account
                    partner:
                      id: 25f77a3e-2a4b-48bf-bea2-1b8bcd541621
                      name: Stark House
                    positions: []
                    metadata:
                      customer_id: '12345'
                    rejectionInfo:
                      rejectionCode: ACCOUNT_NOT_MATCH
                      rejectionReason: Account Title Mismatch
                    auditDetails:
                      - timestamp: '2023-08-28T11:30:26.367Z'
                        status:
                          name: STARTED
                          description: Asset transfer request has been initiated.
                        comment: Transfer request has been submitted in queue
                      - timestamp: '2023-09-12T15:55:03.294Z'
                        status:
                          name: PENDING
                          description: Asset transfer request is pending
                        comment: Request has been submitted for ACAT transfer
                      - timestamp: '2023-11-02T00:01:34.330Z'
                        status:
                          name: FAILED
                          description: Asset transfer is failed.
                        comment: Full Transfer Rejected. Contact Clearing Broker for further information
                    created: '2023-08-28T11:30:25.805Z'
                    updated: '2023-11-02T00:01:34.330Z'
                Minor Graduation:
                  value:
                    id: grad_28d08c72-3d0f-4c6e-8961-2dc6491c28a8
                    source: LKGE000001
                    destination: LKKZ000004
                    status:
                      name: STARTED
                      description: Asset transfer request has been initiated.
                    acatType:
                      name: FULL
                      description: Full ACATs Transfer
                    type:
                      name: TEEN
                      description: Teen Account Transfer
                    partner:
                      id: 25f77a3e-2a4b-48bf-bea2-1b8bcd541621
                      name: Stark House
                    auditDetails:
                      - timestamp: '2023-07-26T14:05:18.518Z'
                        status:
                          name: STARTED
                          description: Asset transfer request has been initiated.
                        comment: Transfer request has been submitted in queue
                    created: '2023-07-26T14:05:18.518Z'
      description: Get a Transfer's current details.
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
  /asset-transfers:
    get:
      summary: List Transfers
      tags:
        - Asset Transfer
      description: Lists all of your Transfers across all Accounts. This can be filtered by type of Transfer.
      parameters:
        - schema:
            $ref: '#/components/schemas/AssetTransferStatus'
          in: query
          name: status
          description: A status to filter by
        - schema:
            $ref: '#/components/schemas/AssetTransferType'
          in: query
          name: type
          description: A Transfer type to filter by
          required: true
        - in: query
          name: limit
          description: Maximum number of records to be returned
          schema:
            type: string
        - in: query
          name: offset
          description: Specify an identifier from last API response to go to the next page or prev page
          schema:
            type: string
        - in: query
          name: direction
          description: Go to the next page or prev page
          schema:
            type: string
            enum:
              - prev
              - next
      responses:
        '200':
          description: Listing Transfers was successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      anyOf:
                        - $ref: '#/components/schemas/ACATSTransfer'
                  nextPageOffset:
                    type: string
                    description: The next page offset.
                  prevPageOffset:
                    type: string
                    description: The previous page offset.
              examples:
                List Assets Transfers [TEEN]:
                  value:
                    data:
                      - id: grad_ba9522d8-0f3a-43bd-bb16-9efc0ad1a913
                        source: DWCW001118
                        destination: DWYE001127
                        status:
                          name: SUCCESSFUL
                          description: Asset transfer request has been successfully completed
                        type:
                          name: TEEN
                          description: Teen Account Transfer
                        partner:
                          id: 25f77a3e-2a4b-48bf-bea2-1b8bcd541621
                          name: Stark House
                        auditDetails:
                          - timestamp: '2023-10-25T16:00:42.126Z'
                            status:
                              name: STARTED
                              description: Asset transfer request has been initiated.
                            comment: Transfer request has been submitted in queue
                          - timestamp: '2023-10-25T16:00:42.257Z'
                            status:
                              name: PENDING
                              description: Asset transfer request is pending
                            comment: Transfer process started
                          - timestamp: '2023-10-27T21:00:07.959Z'
                            status:
                              name: ON_HOLD
                              description: Asset transfer request is on hold.
                            comment: Transfer is on hold for DWCW001118. Settlement is not finished yet.
                          - timestamp: '2023-10-28T14:00:02.453Z'
                            status:
                              name: SUCCESSFUL
                              description: Asset transfer request has been successfully completed
                            comment: Transfer Completed
                        created: '2023-10-25T16:00:42.126Z'
                        updated: '2023-10-28T14:00:02.453Z'
                      - id: grad_47edac5a-57f0-456a-83ca-128205fcdf3d
                        source: DWXG000976
                        destination: DWHZ001105
                        status:
                          name: ON_HOLD
                          description: Asset transfer request is on hold.
                        type:
                          name: TEEN
                          description: Teen Account Transfer
                        partner:
                          id: 25f77a3e-2a4b-48bf-bea2-1b8bcd541621
                          name: Stark House
                        auditDetails:
                          - timestamp: '2023-10-29T04:00:56.167Z'
                            status:
                              name: STARTED
                              description: Asset transfer request has been initiated.
                            comment: Transfer request has been submitted in queue
                          - timestamp: '2023-10-29T04:00:56.309Z'
                            status:
                              name: PENDING
                              description: Asset transfer request is pending
                            comment: Transfer process started
                          - timestamp: '2023-11-01T21:00:02.207Z'
                            status:
                              name: ON_HOLD
                              description: Asset transfer request is on hold.
                            comment: Transfer is on hold for DWXG000976. Settlement is not finished yet.
                        created: '2023-10-29T04:00:56.167Z'
                        updated: '2023-11-01T21:00:02.207Z'
                    nextPageOffset: 25f77a3e-2a4b-48bf-bea2-1b8bcd541621#grad_47edac5a-57f0-456a-83ca-128205fcdf3d#2023-07-28T23:55:34.142Z
                    prevPageOffset: ''
                List Assets Transfers [ACAT]:
                  value:
                    data:
                      - id: acats_d83e92cb-ca72-4d0d-9576-ede66ffcee2b
                        source: TR6666
                        destination: FWCT000005
                        clearingNo: '1111'
                        status:
                          name: PENDING
                          description: Asset transfer request is pending
                        type:
                          name: ACAT
                          description: ACAT transfer
                        acatType:
                          name: PARTIAL
                          description: Partial Acats Transfer
                        acatTransit:
                          name: ACAT_IN
                          description: Incomming Acats Transfer
                        sourceAccountType:
                          name: INDIVIDUAL
                          description: Individual Account
                        partner:
                          id: 25f77a3e-2a4b-48bf-bea2-1b8bcd541621
                          name: Stark House
                        cash: 12345.67
                        positions:
                          - symbol: SBSI
                            instrumentID: 1c6c1625-8146-4dd3-a84b-c6a97cd74bcf
                            quantity: 213
                        metadata: {}
                        auditDetails:
                          - timestamp: '2023-10-20T13:18:42.383Z'
                            status:
                              name: STARTED
                              description: Asset transfer request has been initiated.
                            comment: Transfer request has been submitted in queue
                          - timestamp: '2023-10-20T15:00:04.207Z'
                            status:
                              name: PENDING
                              description: Asset transfer request is pending
                            comment: TIF has been created
                        created: '2023-10-20T13:18:42.347Z'
                        updated: '2023-10-20T15:00:04.216Z'
                      - id: acats_0a18eea2-c63d-447a-a0f1-1c7d9a08c9da
                        source: TR6666
                        destination: FWCT000005
                        clearingNo: '1111'
                        status:
                          name: SUCCESSFUL
                          description: Asset transfer request has been successfully completed
                        type:
                          name: ACAT
                          description: ACAT transfer
                        acatType:
                          name: PARTIAL
                          description: Partial Acats Transfer
                        sourceAccountType:
                          name: INDIVIDUAL
                          description: Individual Account
                        partner:
                          id: 25f77a3e-2a4b-48bf-bea2-1b8bcd541621
                          name: Stark House
                        positions:
                          - symbol: ACHN
                            instrumentID: 27673f0e-2219-40b0-9ecc-91c87266efaf
                            quantity: 1
                          - symbol: SBSI
                            instrumentID: 1c6c1625-8146-4dd3-a84b-c6a97cd74bcf
                            quantity: 56
                        metadata: {}
                        auditDetails:
                          - timestamp: '2023-10-20T13:02:50.970Z'
                            status:
                              name: STARTED
                              description: Asset transfer request has been initiated.
                            comment: Transfer request has been submitted in queue
                          - timestamp: '2023-10-20T15:00:04.185Z'
                            status:
                              name: PENDING
                              description: Asset transfer request is pending
                            comment: TIF has been created
                          - timestamp: '2023-11-02T00:01:19.340Z'
                            status:
                              name: SUCCESSFUL
                              description: Asset transfer request has been successfully completed
                            comment: Transfer Settled
                        created: '2023-10-20T13:02:50.960Z'
                        updated: '2023-11-02T00:01:19.340Z'
                      - id: acats_d9faa000-9d97-4ab8-85f8-cbd856d31b79
                        source: TR6666
                        destination: FWRT000005
                        clearingNo: '1111'
                        status:
                          name: FAILED
                          description: Asset transfer is failed.
                        type:
                          name: ACAT
                          description: ACAT transfer
                        acatType:
                          name: FULL
                          description: Full Acats Transfer
                        sourceAccountType:
                          name: INDIVIDUAL
                          description: Individual Account
                        partner:
                          id: 25f77a3e-2a4b-48bf-bea2-1b8bcd541621
                          name: Stark House
                        positions: []
                        metadata:
                          customer_id: '12345'
                        rejectionInfo:
                          rejectionCode: ACCOUNT_NOT_MATCH
                          rejectionReason: Account Title Mismatch
                        auditDetails:
                          - timestamp: '2023-08-28T11:30:26.367Z'
                            status:
                              name: STARTED
                              description: Asset transfer request has been initiated.
                            comment: Transfer request has been submitted in queue
                          - timestamp: '2023-09-12T15:55:03.294Z'
                            status:
                              name: PENDING
                              description: Asset transfer request is pending
                            comment: Request has been submitted for ACAT transfer
                          - timestamp: '2023-11-02T00:01:34.330Z'
                            status:
                              name: FAILED
                              description: Asset transfer is failed.
                            comment: Full Transfer Rejected. Contact Clearing Broker for further information
                        created: '2023-08-28T11:30:25.805Z'
                        updated: '2023-11-02T00:01:34.330Z'
                    nextPageOffset: 25f77a3e-2a4b-48bf-bea2-1b8bcd541621#acats_d9faa000-9d97-4ab8-85f8-cbd856d31b79#2023-08-28T11:30:25.805Z
                    prevPageOffset: ''
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
  /asset-transfers/cancel-rebills:
    post:
      tags:
        - Cancel Rebill
      summary: Create Cancel Rebill
      description: Create Cancel Rebill
      requestBody:
        description: Created Cancel Rebill
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelRebillRequest'
            examples:
              'Create Cancel ':
                value:
                  orderNo: IKJL0000001
                  type: CANCEL
                  reason: FRAUD
                  approvedBy: John Doe
                  comment: Fraud detected.
                  metadata:
                    - {}
              Create Price Adjustment:
                value:
                  orderNo: IKJL0000001
                  type: PRICE_ADJUSTMENT
                  reason: PRICE_ADJUSTMENT_PARTNER
                  adjustedPrice: 22.99
                  approvedBy: John Doe
                  comment: Incorrect price during execution.
                  metadata:
                    - {}
              Create Commission Adjustment:
                value:
                  orderNo: IKJL0000001
                  type: COMMISSION_ADJUSTMENT
                  reason: PARTNER_TECHNICAL_ERROR
                  adjustedCommission: 2.99
                  approvedBy: John Doe
                  comment: Incorrect commission during execution.
                  metadata:
                    - {}
      responses:
        '200':
          description: Creating a Cancel Rebill was Successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelRebillResponse'
              examples:
                Cancel Rebill Response:
                  value:
                    id: cxl_rbl_497f6eca-6276-4993-bfeb-53cbbbba6f08
                    reason:
                      name: PRICE_ADJUSTMENT_PARTNER
                      description: Price Adjustment via Partner
                    type:
                      name: PRICE_ADJUSTMENT
                      description: Price Adjustment
                    orderNo: KJG000001
                    approvedBy: John Doe
                    status:
                      name: STARTED
                      description: The cancel rebill has been started
                    comment: reported NSF
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
    get:
      tags:
        - Cancel Rebill
      summary: List Cancel Rebills
      description: Retrieves a list of Cancel Rebills.
      parameters:
        - name: from
          in: query
          description: The start date of the range of Cancel Rebill.
          required: true
          schema:
            type: string
            example: '2023-04-22'
        - name: to
          in: query
          description: The end date of the range of Cancel Rebill.
          required: true
          schema:
            type: string
            example: '2023-04-22'
        - name: partnerID
          in: query
          schema:
            type: string
            example: 5730ee28-78cb-4736-9c99-ede6dc1084a3
        - name: status
          in: query
          description: The Cancel Rebill status code.
          required: true
          schema:
            type: string
            example: STARTED
            enum:
              - STARTED
              - PENDING
              - ON_HOLD
              - APPROVED
              - REJECTED
              - SUCCESSFUL
        - name: limit
          in: query
          description: The number of records to be returned by the query.
          required: false
          schema:
            type: integer
            example: 20
            minimum: 1
            maximum: 200
            default: 50
        - name: offset
          in: query
          description: The offset of the last queried result.
          required: false
          schema:
            type: string
            example: 5730ee28-78cb-4736-9c99-ede6dc1084a3#cxl_rbl_5730ee28-78cb-4736-9c99-ede6dc1084a3
        - name: direction
          in: query
          required: false
          schema:
            type: string
            enum:
              - next
              - previous
            default: next
            example: next
      responses:
        '200':
          description: Retrieving a list of Cancel Rebills was Successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelRebillDetailResponse'
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
  /asset-transfers/cancel-rebills/{cancelRebillID}:
    get:
      tags:
        - Cancel Rebill
      summary: Retrieve Cancel Rebill
      description: Retrieves Cancel Rebill details by cancelRebillID.
      parameters:
        - name: cancelRebillID
          in: path
          description: The identifier of the Cancel Rebill.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Retrieving Cancel Rebill was Successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelRebillResponse'
              examples:
                Cancel Rebill Response:
                  value:
                    id: cxl_rbl_497f6eca-6276-4993-bfeb-53cbbbba6f08
                    reason:
                      name: PRICE_ADJUSTMENT_PARTNER
                      description: Price Adjustment via Partner
                    type:
                      name: PRICE_ADJUSTMENT
                      description: Price Adjustment
                    orderNo: KJG000001
                    approvedBy: John Doe
                    status:
                      name: STARTED
                      description: The cancel rebill has been started
                    comment: reported NSF
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
  /auth:
    post:
      tags:
        - Auth
      summary: Create Authentication Token
      description: Creates an authentication token for an implementer to utilize for subsequent API requests.
      deprecated: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAuthTokenReq'
      responses:
        '200':
          description: Creating Authentication Token was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAuthToken'
      security: []
  /auth/tokens:
    post:
      tags:
        - Auth
      summary: Create Session Token
      description: Creates a session token for an implementer to utilize for subsequent API requests.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSessTokenReq'
      responses:
        '200':
          description: Creating Session Token was Successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateSessToken'
      security: []
  /countries:
    get:
      tags:
        - Supported Countries
      summary: List Supported Countries
      description: Retrieves a list of allowed countries for which users can be onboard from.
      parameters:
        - in: query
          name: status
          schema:
            type: string
            enum:
              - ACTIVE
              - INACTIVE
          required: true
          example: ACTIVE
          description: Filters on the returned countries list has inactive or active countries inside it.
      responses:
        '200':
          description: Retrieving a list of Supported Countries was Successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOfAllowedCountries'
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
  /funding/deposits:
    post:
      tags:
        - Deposits
      summary: Create Deposit
      description: Creates a Deposit.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DepositRequestReq'
            examples:
              Individual ACH Deposit:
                value:
                  accountNo: DWFS001102
                  amount: 100.25
                  currency: USD
                  type: ACH
                  bankAccountID: bank_a4656e60-321e-425b-aa0d-a2e75c38885f
              Bulk Deposit:
                value:
                  accountNo: DWFS001102
                  amount: 100.25
                  currency: USD
                  type: BULK_FUNDING
      responses:
        '200':
          description: Creating a User's Account Deposit was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deposit'
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
  /funding/deposits/{depositID}:
    get:
      tags:
        - Deposits
      summary: Retrieve Deposit
      description: Retrieves Deposit details by depositID.
      parameters:
        - in: path
          name: depositID
          schema:
            $ref: '#/components/schemas/depositID'
          required: true
          description: A unique identifier for the user's account deposit.
      responses:
        '200':
          description: Retrieving a Deposit by depositID was Successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepositByDepositID'
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
  /disclosures:
    get:
      tags:
        - Disclosures
      summary: List Disclosures
      description: Retrieves a list of Disclosures.
      responses:
        '200':
          description: Fetching A List of Disclosures was Successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOfDisclosures'
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
  /disclosures/{disclosureID}:
    get:
      tags:
        - Disclosures
      summary: Retrieve Disclosure
      description: Retrives a Disclosure details by disclosureID.
      parameters:
        - in: path
          name: disclosureID
          schema:
            $ref: '#/components/schemas/disclosureID'
          required: true
      responses:
        '200':
          description: Disclosure was retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Disclosure'
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
  /users/{userID}/acknowledgments:
    post:
      tags:
        - Disclosures
      summary: Create User Disclosure Acknowledgment
      description: Creates a User Disclosure Acknowledgment by userID.
      parameters:
        - in: path
          name: userID
          schema:
            $ref: '#/components/schemas/userID'
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAcknowledgmentInput'
      responses:
        '200':
          description: Creating a User Disclosure Acknowledgment was Successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Acknowledgment'
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
    get:
      tags:
        - Disclosures
      summary: List User Disclosures Acknowledgments
      description: Retrieves a list of User Disclosures Acknowledgments by userID.
      parameters:
        - in: path
          name: userID
          schema:
            $ref: '#/components/schemas/userID'
          required: true
      responses:
        '200':
          description: Retrieving a list of User Disclosure Acknowledgments was Successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOfAcknowledgments'
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
  /exchanges:
    post:
      tags:
        - Exchanges
      summary: Create Instrument Exchange
      description: Creates an Instrument Exchange. The ability to sale of a held instrument and purchase of another.
      responses:
        '200':
          description: Creating an Exchange was Successful.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: 'The specific id of the exchange.  '
                  exchangeNo:
                    type: string
                    description: The specific exchange number
                required:
                  - id
                  - exchangeNo
              examples:
                Example 1:
                  value:
                    id: IC.0e352bb7-9869-4233-9861-1173544efedd
                    exchangeNo: ICDU023727
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                accountNo:
                  $ref: '#/components/schemas/accountNo'
                sellSymbol:
                  type: string
                  description: This will be the ticker of the mutual fund you will be liquidating.
                  example: VTSMX
                buySymbol:
                  type: string
                  description: This will be the ticker of the mutual fund you will be purchasing with the proceeds of the liquidation.
                  example: VTSAX
                amountCash:
                  type: number
                  description: This is the total notional amount you exchange from the sellSymbol to the buySymbol. This field is populated if quantity is null
                  example: '100.00'
                quantity:
                  type: number
                  description: This is the total quantity being sold of the sellSymbol. The proceeds, less any fees, will be used to purchase the buySymbol. This field is only required if amountCash is null.
                  example: 100.503
              required:
                - accountNo
                - sellSymbol
                - buySymbol
                - amountCash
                - quantity
            examples:
              Example 1:
                value:
                  accountNo: DWPH000003
                  sellSymbol: VTSMX
                  buySymbol: VTSAX
                  amountCash: 100
                  quantity: 10
        description: ''
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
    patch:
      tags:
        - Exchanges
      summary: Update Instrument Exchange
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The ID of the Exchange
                  exchangeNo:
                    type: string
                    description: A human-readable number that represents the Exchange
                required:
                  - id
                  - exchangeNo
              examples:
                Example 1:
                  value:
                    id: IC.0e352bb7-9869-4233-9861-1173544efedd
                    exchangeNo: ICDU023727
      description: Updates an Instrument Exchange.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                method:
                  type: string
                  example: CANCEL
              required:
                - method
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
  /exchanges/{exchangeIdentifier}:
    parameters:
      - schema:
          type: string
        name: exchangeIdentifier
        in: path
        required: true
        description: The Exchange ID (id) or Exchange Number (exchangeNo)
    get:
      tags:
        - Exchanges
      summary: Retrieve Exchange
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The specific id of the exchange
                  exchangeNo:
                    type: string
                    description: The specific exchange number
                  status:
                    type: string
                    description: The state of the exchange.
                    enum:
                      - NEW
                      - FILLED
                      - REJECTED
                      - PENDING_CANCEL
                      - CANCELED
                      - FILLED
                  sellSymbol:
                    type: string
                    description: This will be the ticker of the mutual fund you will be liquidating
                  sellOrderId:
                    type: string
                    description: The order ID corresponding to the sell transaction
                  sellOrderNo:
                    type: string
                    description: The order number corresponding to the sell transaction
                  buySymbol:
                    type: string
                    description: This will be the ticker of the mutual fund you will be purchasing with the proceeds of the liquidation
                  buyOrderId:
                    type: string
                    description: The order ID corresponding to the buy transaction
                  buyOrderNo:
                    type: string
                    description: The order number corresponding to the buy transaction
                  sellAveragePrice:
                    type: number
                    description: The price the sell order was filled at
                  sellCumulativeQuantity:
                    type: number
                    description: The total quantity the sell was for
                  buyAveragePrice:
                    type: number
                    description: The price the buy order was filled at
                  buyCumulativeQuantity:
                    type: number
                    description: The total quantity the buy was for
                  amountCash:
                    type: number
                    description: This is the total notional amount you exchange from the sellSymbol to the buySymbol. This field is populated if quantity is null.
                  fees:
                    type: number
                    description: The total fees for both the buy and sell order of the exchange
                  orderExpires:
                    type: string
                    description: The date the exchange expires
                  createdBy:
                    type: string
                    description: The user that created the exchange
                  userID:
                    type: string
                    description: The id of the user by whom the exchange was placed
                  accountID:
                    type: string
                    description: The account id of the user where the exchange was placed
                  accountNo:
                    type: string
                    description: The account number of the user where the exchange was placed
                  created:
                    type: string
                    description: The time the exchange was created
                  cancelledWhen:
                    type: string
                    description: The date and time the exchange was cancelled
                  cancelledBy:
                    type: string
                    description: The user that cancelled the exchange.
                  rejectedWhen:
                    type: string
                    description: The timestamp when the exchange was rejected.
                  rejectedReason:
                    type: string
                    description: Reason exchange was rejected
                required:
                  - id
                  - exchangeNo
                  - status
                  - sellSymbol
                  - sellOrderId
                  - sellOrderNo
                  - buySymbol
                  - buyOrderId
                  - buyOrderNo
                  - sellAveragePrice
                  - sellCumulativeQuantity
                  - buyAveragePrice
                  - buyCumulativeQuantity
                  - amountCash
                  - fees
                  - orderExpires
                  - createdBy
                  - userID
                  - accountID
                  - accountNo
                  - created
              examples:
                Getting Exchange information by ID:
                  value:
                    id: GC.f7590a52-75c7-4f3a-92c7-6b03e02dc44f
                    exchangeNo: ICDU023727
                    status: FILLED
                    sellSymbol: VTSMX
                    sellOrderId: GC.f7590a52-75c7-4f3a-92c7-6b03e02d111
                    sellOrderNo: EFXM000103
                    buySymbol: VTSAX
                    buyOrderId: GC.f7590a52-75c7-4f3a-92c7-6b03e02d222
                    buyOrderNo: EFXM001102
                    sellAveragePrice: 10
                    sellCumulativeQuantity: 100
                    buyAveragePrice: 50
                    buyCumulativeQuantity: 20
                    amountCash: 1000
                    fees: 0
                    orderExpires: '2019-03-29T20:00:00.000Z'
                    createdBy: b25f0d36-b4e4-41f8-b3d9-9249e46402cd
                    userID: b25f0d36-b4e4-41f8-b3d9-9249e46402cd
                    accountID: b25f0d36-b4e4-41f8-b3d9-9249e46402cd.1403540676095
                    accountNo: DWZR000001
                    created: '2019-03-28T22:40:03.240Z'
      description: 'To retrieve specific exchange details the exchange endpoint can be used. In addition the underlying buy and sell trades, which make up the exchange order, will be available through the existing get order endpoint. '
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
  /accounts/{accountID}/summary/exchanges:
    parameters:
      - schema:
          type: string
        name: accountID
        in: path
        required: true
        description: The account id of the user where the order was placed
    get:
      tags:
        - Exchanges
      summary: List Account Instrument Exchanges.
      responses:
        '200':
          description: Retrieving a list of Account Instrument Exchanges by accountID was Successful.
          content:
            application/json:
              schema:
                type: object
                properties:
                  accountID:
                    type: string
                    description: The account id of the user where the order was placed
                  accountNo:
                    type: string
                    description: |+
                      The account number of the user where the order was placed

                  tradingType:
                    type: string
                    example: CASH
                  updated:
                    type: string
                  exchanges:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: 'The specific id of the exchange. '
                        exchangeNo:
                          type: string
                          description: The specific exchange number
                        status:
                          type: string
                          description: The state of the exchange.
                          enum:
                            - NEW
                            - FILLED
                            - REJECTED
                            - PENDING_CANCEL
                            - CANCELED
                            - FILLED
                        sellSymbol:
                          type: string
                          description: This will be the ticker of the mutual fund you will be liquidating.
                        sellOrderId:
                          type: string
                          description: The order ID corresponding to the sell transaction.
                        sellOrderNo:
                          type: string
                          description: The order number corresponding to the sell transaction.
                        buySymbol:
                          type: string
                          description: This will be the ticker of the mutual fund you will be purchasing with the proceeds of the liquidation.
                        buyOrderId:
                          type: string
                          description: The order ID corresponding to the buy transaction.
                        buyOrderNo:
                          type: string
                          description: The order number corresponding to the buy transaction.
                        sellAveragePrice:
                          type: number
                          description: The price the sell order was filled at.
                        sellCumulativeQuantity:
                          type: number
                          description: The total quantity the sell was for.
                        buyCumulativeQuantity:
                          type: number
                          description: The total quantity the buy was for.
                        buyAveragePrice:
                          type: number
                          description: The price the buy order was filled at.
                        amountCash:
                          type: number
                          description: This is the total notional amount you exchange from the sellSymbol to the buySymbol.
                        fees:
                          type: number
                          description: The total fees for both the buy and sell order of the exchange.
                        orderExpires:
                          type: string
                          description: The timestamp the exchange expires.
                        createdBy:
                          type: string
                          description: Who the orders were created by
                        userID:
                          $ref: '#/components/schemas/userID'
                        accountID:
                          $ref: '#/components/schemas/accountID'
                        accountNo:
                          $ref: '#/components/schemas/accountNo'
                        created:
                          type: string
                          description: The time the order was created
                      required:
                        - id
                        - exchangeNo
                        - status
                        - sellSymbol
                        - sellOrderId
                        - sellOrderNo
                        - buySymbol
                        - buyOrderId
                        - buyOrderNo
                        - sellAveragePrice
                        - sellCumulativeQuantity
                        - buyCumulativeQuantity
                        - buyAveragePrice
                        - amountCash
                        - fees
                        - orderExpires
                        - createdBy
                        - userID
                        - accountID
                        - accountNo
                        - created
                required:
                  - accountID
                  - accountNo
                  - tradingType
                  - updated
                  - exchanges
              examples:
                Getting all pending exchange:
                  value:
                    accountID: b25f0d36-b4e4-41f8-b3d9-9249e46402cd.1403540676095
                    accountNo: DWBG000052
                    tradingType: CASH
                    updated: '2021-04-23T18:41:32.440Z'
                    exchanges:
                      - id: GC.f7590a52-75c7-4f3a-92c7-6b03e02dc11f
                        exchangeNo: ICDU023727
                        status: NEW
                        sellSymbol: VTSMX
                        sellOrderId: GC.f7590a52-75c7-4f3a-92c7-6b03e02d112
                        sellOrderNo: EFXM000203
                        buySymbol: VTSAX
                        buyOrderId: GC.f7590a52-75c7-4f3a-92c7-6b03e02d223
                        buyOrderNo: EFXM002102
                        amountCash: 0
                        sellAveragePrice: 0
                        sellCumulativeQuantity: 0
                        buyAveragePrice: 0
                        buyCumulativeQuantity: 0
                        fees: 0
                        orderExpires: '2019-03-29T20:00:00.000Z'
                        createdBy: b25f0d36-b4e4-41f8-b3d9-9249e46402cd
                        userID: b25f0d36-b4e4-41f8-b3d9-9249e46402cd
                        accountID: b25f0d36-b4e4-41f8-b3d9-9249e46402cd.1403540676095
                        accountNo: DWZR000001
                        created: '2019-03-28T22:40:03.240Z'
      description: Retrives a list of Account Instrument Exchanges by accountID.
      security:
        - bearerAuth: []
          dwAppKey: []
        - sessionToken: []
          dwAppKey: []
  /accounts/{accountID}/reports/exchange-history:
    parameters:
      - schema:
          type: string
        name: accountID
        in: path
        required: true
        description: The account id of the user where the order was placed
    get:
      tags:
        - Exchanges
      summary: Retrieve Account Instrument Exchange History
      description: Retrieves a list of Account Instrument Exchange History by accountID.
      responses:
        '200':
          description: Retrieving Account Instrument Exchange History was Successful.
          content:
            application/json:
              schema:
                type: object
                properties:
                  accountID:
                    type: string
                    description: The account id of the user where the order was placed
                  accountNo:
                    type: string
                    description: The account number of the user where the order was placed
                  tradingType:
                    type: string
                  updated:
                    type: string
                  exchanges:
                    type: array
                    items:
                      oneOf:
                        - $ref: '#/components/schemas/Exchange'
                required:
                  - accountID
                  - accountNo
                  - tradingType
                  - updated
                  - exchanges
              examples:
                Exchanges:
                  value:
                    accountID: b25f0d36-b4e4-41f8-b3d9-9249e46402cd.1403540676095
                    accountNo: DWBG000052
                    tradingType: CASH
                    updated: '2021-04-23T18:41:32.440Z'
                    exchanges:
                      - id: GC.f7590a52-75c7-4f3a-92c7-6b03e02dc11f
                        exchangeNo: ICDU023727
                        status: FILLED
                        sellSymbol: VTSMX
                        sellOrderId: GC.f7590a52-75c7-4f3a-92c7-6b03e02d112
                        sellOrderNo: EFXM000203
                        buySymbol: VTSAX
                        buyOrderId: GC.f7590a52-75c7-4f3a-92c7-6b03e02d223
                        buyOrderNo: EFXM002102
                        amountCash: 1000
                        sellAveragePrice: 10
                        sellCumulativeQuantity: 100
                        buyAveragePrice: 50
                        buyCumulativeQuantity: 20
                        fees: 0
                        orderExpires: '2019-03-29T20:00:00.000Z'
                        createdBy: b25f0d36-b4e4-41f8-b3d9-9249e46402cd
                        userID: b25f0d36-b4e4-41f8-b3d9-9249e46402cd
                        accountID: b25f0d36-b4e4-41f8-b3d9-9249e46402cd.1403540676095
                        accountNo: DWZR000001
[...]
